body{
	color: #483D8B;
	background:#B0E7B0;
	font-size: 16px;
	font-family: Arial, sans-serif;
	margin: 0 auto;
	width: 970px;
}
h1{
	font-size: 32px;
	text-align: center;
}

.title{
	border: 1px dotted #8FBC8F;
}